body {
    margin: 0;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'logo'
        'menulist';
}

.menulist {
    grid-area: menulist;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 1fr;
    grid-template-areas:
        'transactions'
        'customers';
}

.menulist > img {
    height: 30px;
    width: 30px;
    margin: auto;
    filter: invert(53%) sepia(6%) saturate(530%) hue-rotate(215deg) brightness(90%) contrast(85%);
}

.menulist > img.active {
    height: 30px;
    width: 30px;
    margin: auto;
    filter: invert(99%) sepia(0%) saturate(4979%) hue-rotate(106deg) brightness(116%) contrast(100%);
}

.menu {
    grid-area: menu;
    border-bottom: 1px solid rgb(231, 231, 232);
}

.main {
    display: grid;
    grid-area: main;
    background-color: #f2f3f7;
    padding: 20px;
    gap: 15px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    grid-template-areas:
        'map'
        'info';
}

.main-connections {
    display: grid;
    grid-area: main;
    background-color: #f2f3f7;
    padding: 20px;
    gap: 15px;
    grid-template-rows: 50px 40% min-content;
    grid-template-columns: 1fr;
    grid-template-areas:
        'map-filters'
        'map-connections'
        'connection-graph';
}

.nav-logo {
    background: url('../assets/logo-sign.svg') center center / 25px no-repeat;
    border-bottom: 1px solid rgb(77, 76, 82);
}

.main-container {
    color: #7c7a85;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
}

#map-filters {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"].card_hash {
    color: rgba(189, 92, 17);
    border: 0.15em solid rgba(189, 92, 17);
}

input[type="checkbox"].card_hash::before {
    background-color: rgba(189, 92, 17);
}

input[type="checkbox"].phone_number {
    color: rgba(189, 92, 17);
    border: 0.15em solid rgba(201, 198, 16);
}

input[type="checkbox"].phone_number::before {
    background-color: rgba(201, 198, 16);
}

input[type="checkbox"].email_address {
    color:  rgba(16, 78, 201);
    border: 0.15em solid rgba(16, 78, 201);
}

input[type="checkbox"].email_address::before {
    background-color: rgba(16, 78, 201);
}

input[type="checkbox"].user_address {
    color: rgba(201, 16, 164);
    border: 0.15em solid rgba(201, 16, 164);
}

input[type="checkbox"].user_address::before {
    background-color: rgba(201, 16, 164);
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
} 

#root {
    display: grid;
    height: 100vh;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        'nav menu'
        'nav main';
}

#map {
    width: 1fr;
    height: 100%;
    grid-area: map;
    border-radius: 4px;
}

#map-connections {
    width: 1fr;
    height: 100%;
    grid-area: map-connections;
    border-radius: 4px;
}

#connection-graph {
    grid-area: connection-graph;
}

#graph {
    display: block;
    margin: 0 auto;
    width: 960px;
    height: 400px;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;

}

#info {
    grid-area: info;
    display: flex;
}

#sidebar {
    width: 50px;
    height: 100%;
    background-color: rgb(47 46 50);
}

.main-bottom {
    flex: 1;
    text-align: center;
    margin: 0px 15px 15px 15px;
    background-color: #f2f3f7;
}

#filter {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 2rem;
}


.custom-select {
    margin: auto;
    position: relative;
    font-family: Arial;
    width: 250px;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: #61bdb2;
    margin: 15px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 25px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #61bdb2;
    top: 100%;
    left: 0;
    right: 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

#select1 {
    margin-top: 180px;
}

#select2 {
    margin-top: -110px;
}

#select3 {
    margin-top: -110px;
}

canvas#myChart {
    min-height: 350px;

}

#ads {
    width: 33%;
}
#ads > img {
    width: 100%;
    margin: 15px;
    margin-top: 50px;
}

a:active {
    color: #61bdb2;
}

a:visited {
    color: #61bdb2;
}

#ads > a {
    font-size: 33px;
    fill: #9C1A1C;
}

button {
    background-color: #61bdb2;
    color: #ffffff;
    font-size: 20px;
    border: none;
    padding: 10px 30px;
    margin-top: 15px;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #61bdb2;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #61bdb2;
}

.socimage {
    width: 30px;
}

.boxdraw {
    background: rgba(56, 135, 190, 0.1);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

#platformselector {
    width: 328px;;
    margin: auto;
}

#simages {
    display: flex;
}

img.socimage {
    margin: auto;
    cursor: pointer;
}

#szoveg {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.slider {
    width: 328px;
}

#monthszoveg {
    font-size: 36px;

    margin-bottom: 15px;
    text-align: center;
}


#btnsht {
    width: 240px;
    margin: auto;
}
