body {
    margin: 0;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'logo'
        'menulist';
}

.menu {
    grid-area: menu;
    border-bottom: 1px solid rgb(231, 231, 232);
}

.main {
    display: grid;
    grid-area: main;
    background-color: #f2f3f7;
    padding: 20px;
    gap: 15px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    grid-template-areas:
        'map'
        'info';
}

.nav-logo {
    background: url('../assets/logo-sign.svg') center center / 25px no-repeat;
    border-bottom: 1px solid rgb(77, 76, 82);
}

.main-container {
    color: #7c7a85;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
}

#root {
    display: grid;
    height: 100vh;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        'nav menu'
        'nav main';
}

#map {
    width: 1fr;
    height: 100%;
    grid-area: map;
    border-radius: 4px;
}

#info {
    grid-area: info;
    display: flex;
}

#sidebar {
    width: 50px;
    height: 100%;
    background-color: rgb(47 46 50);
}

.main-bottom {
    flex: 1;
    text-align: center;
    margin: 0px 15px 15px 15px;
    background-color: #4cc9db;
}

#filter {
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-family: sans-serif;
    padding: 2rem;
}


.custom-select {
    margin: auto;
    position: relative;
    font-family: Arial;
    width: 250px;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
    margin: 15px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 25px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
