body {
    margin: 0;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'logo'
        'menulist';
}

.menu {
    grid-area: menu;
    border-bottom: 1px solid rgb(231, 231, 232);
}

.main {
    display: grid;
    grid-area: main;
    background-color: #f2f3f7;
    padding: 20px;
    gap: 15px;
}

.nav-logo {
    background: url('../assets/logo-sign.svg') center center / 25px no-repeat;
    border-bottom: 1px solid rgb(77, 76, 82);
}

.main-container {
    color: #7c7a85;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'map'
        'info';
}

#root {
    display: grid;
    height: 100vh;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        'nav menu'
        'nav main';
}

#map {
    width: 1fr;
    height: 500px;
    grid-area: map
}

#info {
    grid-area: info;
}

#sidebar {
    width: 50px;
    height: 100%;
    background-color: rgb(47 46 50);
}